<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <button class="back-button"><a routerLink="/home">Volver</a></button>
</head>
<body>
  <div class="container">
    <img src="Biblio.png" alt="Logo Discord">
    <h2>Regístrate</h2>
    <form action="#">
      <input type="text" name="username" placeholder="Nombre de usuario">
      <input type="text" name="email" placeholder="Correo electrónico">
      <input type="password" name="password" placeholder="Contraseña">
      <input type="password" name="password" placeholder="Repetir Contraseña">
      <input type="submit" value="Registrarse">
    </form>
    <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></p>
  </div>
</body>
</html>