<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblio Fácil - Tu Biblioteca Online</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/logoo.png" width="30px" height="30px" alt="Logo">
                Biblio Fácil
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Buscar libros...">
            </div>  
            <button class="button-rojo"><a routerLink="/login">Iniciar Sesion</a></button>
            <button class="button-negro"><a routerLink="/registro">Registrarse</a></button>
            </div>
    </header>
    <div class="main-container">
        <aside class="sidebar">
            <h2>Categorías</h2>
            <a routerLink="/login" class="category-button">Ciencia Ficción (18)</a>
            <a href="#" class="category-button">Economía (13)</a>
            <a href="#" class="category-button">Infantil y Juvenil (17)</a>
            <a href="#" class="category-button">Poesía (14)</a>
            <a href="#" class="category-button">Historia y Crítica (21)</a>
            <a href="#" class="category-button">Biografía (11)</a>
        </aside>
        <main class="content">
            <div class="sort-options">
                <label for="sort-select">Ordenar por:</label>
                <select id="sort-select">
                    <option value="title">Titulo (A-Z)</option>
                    <option value="popularity">Mas populares</option>
                </select>
            </div>
            <div class="book-list">
                <div class="book">
                    <img src="ana frank.jpg" alt="Libro 1">
                    <div class="book-title">El Diario de Ana Frank</div>
                </div>
                <div class="book">
                    <img src="juegos del hambre.jpg" alt="Libro 2">
                    <div class="book-title">Los Juegos del Hambre</div>
                </div>
                <div class="book">
                    <img src="feminismo.jpg" alt="Libro 3">
                    <div class="book-title">El feminismo</div>
                </div>
                <div class="book">
                    <img src="evaperon.jpg" alt="Libro 4">
                    <div class="book-title">Eva Peron</div>
                </div>
                <div class="book">
                    <img src="elon musk.jpg" alt="Libro 5">
                    <div class="book-title">Elon Musk</div>
                </div>
                <div class="book">
                    <img src="elprincipito.jpg" alt="Libro 6">
                    <div class="book-title">El Principito</div>
                </div>
                <div class="book">
                    <img src="frentes.jpg" alt="Libro 7">
                    <div class="book-title">Mirarse de Frente</div>
                </div>
                <div class="book">
                    <img src="mundos.jpg" alt="Libro 8">
                    <div class="book-title">La Guerra de los Mundos</div>
                </div>
                <div class="book">
                    <img src="heroes.jpg" alt="Libro 9">
                    <div class="book-title">La Tercera los Heroes</div>
                </div>
                <div class="book">
                    <img src="literatura.jpg" alt="Libro 10">
                    <div class="book-title">¿A que llamamos Literatura?</div>
                </div>
                <div class="book">
                    <img src="Harry Potter.jpg" alt="Libro 11">
                    <div class="book-title">Harry Potter y la pierda filosofal</div>
                </div>
                <div class="book">
                    <img src="cuervo.jpg" alt="Libro 12">
                    <div class="book-title">El Cuervo y otros poemas</div>
                </div>
                <div class="book">
                    <img src="morir.jpg" alt="Libro 13">
                    <div class="book-title">El arte de morir</div>
                </div>
                <div class="book">
                    <img src="esta.png" alt="Libro 14">
                    <div class="book-title">Esta no soy yo</div>
                </div>
                <div class="book">
                    <img src="millonario.jpg" alt="Libro 15">
                    <div class="book-title">Habitos Millonarios</div>
                </div>
                <div class="book">
                    <img src="napoleon.jpg" alt="Libro 16">
                    <div class="book-title">Napoleon</div>
                </div>
                <div class="book">
                    <img src="peces.jpg" alt="Libro 17">
                    <div class="book-title">El idioma de los peces</div>
                </div>
                <div class="book">
                    <img src="globo.jpg" alt="Libro 18">
                    <div class="book-title">Cinco semanas en globo</div>
                </div>
                <div class="book">
                    <img src="bitcoin.jpg" alt="Libro 19">
                    <div class="book-title">Del oro al Bitcoin</div>
                </div>
                <div class="book">
                    <img src="relatos.png" alt="Libro 20">
                    <div class="book-title">Relatos del pasado, del futuro y del espacio</div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
