<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesion/Registrarse</title>
  <button class="back-button"><a routerLink="/home">Volver</a></button>
</head>
<body>
  <div class="container">
    <img src="Biblio.png" alt="Logo Discord">
    <div>
      <h2>Bienvenido de nuevo</h2>
      <form action="#">
        <input type="text" name="email" placeholder="Correo electrónico">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="submit" value="Ingresar"><a routerLink="/dashboard"></a>
      </form>
      <p>¿Necesitas una cuenta? <a routerLink="/registro">Regístrate</a></p>
    </div>
  </div>
</body>
</html>

